body {
    font-family: 'Droid Sans';
    line-height: 1.4em;
    background: #373130;
    background-image: url(http://i.imgur.com/sgcWWF1.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #dfdfdf;
    width: 100%;
}

h1 { font-size:    7vw; margin:  .67em 0 }
h2 { font-size:  1.4em; margin:  .75em 0 }
h3 { font-size: 1.17em; margin:  .83em 0 }
h5 { font-size: m.83em; margin:  1.5em 0 }
h6 { font-size: m.75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: #2694f5;
  text-decoration: none;
}

button, input, select, textarea {
  font-size: inherit;
  outline: none;
}

img {
  max-width: 100px;
  max-height: 100px;
}

#guess-button {
  padding: 0.5em 1em;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em;
}

input {
  padding: 0.5em;
  border: 1px solid white;
  background: transparent;
  border-top-left-radius: .25em;
  border-bottom-left-radius: .25em;
  color: white;
  width: 10em;
}

.game-header {
  margin-bottom: 1em;
  text-align: center;
}

.prev-letters {
  color: red;
  display: inline;
}

.prev-guesses {
  display: inline;
}

#hangman-container {
  width: 35em;
  text-align: center;
  float: left;
  padding: 2.5em 0 2.5em 7em;
}

.dash-display {
  font-size: 5em;
  /*margin: 1em;*/
}

.turn-counter {
  padding-top: 2em;
  line-height: 1.4em;
  width: 18em;
  margin: auto;
}

.graphic-container {
  position: relative;
  margin-right: 5em;
}

#gallow {
  max-height: 500px;
  max-width: 500px;
  position: absolute;
  visibility: hidden;
  right: 5.7em;
}

#gallow,
#head,
#body,
#arm1,
#arm2,
#leg1,
#leg2 {
  position: absolute;
  visibility: hidden;
}

#head {
  top: 7em;
  left: 43em;
}

#body {
  top: 12.5em;
  left: 46em;
}

#arm1 {
  top: 13em;
  left: 46em;
}

#arm2 {
  top: 13.2em;
  left: 40em;
}

#leg1 {
  top: 18.75em;
  left: 41.75em;
}

#leg2 {
  top: 18.7em;
  left: 46.1em;
}
